<div class="page-header">
  <h1>acomplish</h1>
</div>

<h3>Learn More</h3>
<p><a href="https://github.com/dlochrie/acomplish">GitHub Source</a></p>

<h3>Goals</h3>
<ul>
  <li>Provide a working example of using CompoundJS as a Blog / CMS</li>
  <li>Provide a Role-Based Management System for Posts, Users, and Comments</li>
  <li>Provide a working example of using CompoundJS with PassportJS, and Google as a Provider</li>
  <li>Provide a working example of using Compound with MySQL through JugglingDB</li>
  <li>Provide working examples of making page views with multiple models, and balancing Async with Synchronous functionality.</li>
  <li>Provide a working example of using Unit Tests and Functional Tests (through Selenium, or a plugin TBD)</li>
  <li>Provide a working example of using sockets (socket.io) for Realtime Web</li>
</ul>
