
		<!--common/flash_msg.ejs-->
		<% var flash = request.flash('info').pop(); if (flash) { %>
		<div class="alert alert-info">
			<a class="close" data-dismiss="alert">×</a>
			<%- flash %>
		</div>
		<% } %>

		<% flash = request.flash('error').pop(); if (flash) { %>
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert">×</a>
			<%- flash %>
		</div>
		<% }; %>

		<% logs = request.acomplish.log; if (logs) { %>
			<% if (logs.length === 0)  { %>
				<div class="alert">
					<a class="close" data-dismiss="alert">×</a>
					<strong>Debug Message</strong>: 
					<em>
						Debug Logging is "on". Please see `logToWindow` in the application
						controller for usage.
					</em>
				</div>
			<% } %>
			<% logs.forEach(function(msg) { %>
				<div class="alert">
					<a class="close" data-dismiss="alert">×</a>
					<%- msg %>
				</div>
			<% }); %>
		<% } %>
		<!--/common/flash_msg.ejs-->
