<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">
    <a href="<%- pathTo.users() %>">users</a> <span class="divider">/</span>
  </li>
</ul>
<div class="page-header">
 <h1>Listing Users</h1>
</div>
<div class="row">
  <div class="span12">
    <% if (rows.length > 0) { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Display Name</th>
        </tr>
      </thead>
      <tbody>
        <% rows.forEach(function (row) { %>
        <tr>
          <td><strong><%- link_to(row.user.displayName, pathTo.user(row.user)) %></strong></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <p class="alert alert-block alert-info">
      <strong>No users were found.</strong>
    </p>
    <% } %>
  </div>
</div>