<ul class="breadcrumb">
	<li>
		<a href="/">Home</a> <span class="divider">/</span>
	</li>
	<li class="active">
		<a href="<%- pathTo.posts() %>">posts</a> <span class="divider">/</span>
	</li>
</ul>
<div class="page-header">
		<h1>Posts Managment</h1>
</div>
<div class="row">
	<div class="span12">
		<% if (results.length > 0) { %>
			<table class="table table-striped">
				<tbody>
					<% results.forEach(function (result) { %>
						<tr>
							<td><%- link_to(result.post.title, pathTo.post(result.post)) %></td>
							<td><span class="badge badge-info"><i class="icon-comment icon-white"></i> <%- result.comments.length %></span></td>
						</tr>
						<% }); %>
				</tbody>
			</table>
			<% } else { %>
				<p class="alert alert-block alert-info">	<strong>No posts were found.</strong></p>
				<% } %>
	</div>
</div>