<div class="page-header"><h1>Login</h1></div>

<div class="row">
  <div class="span12">
    <p>
      Comments and Feedback require that you are logged in. You do not need to join this site, 
      you can login via the following providers:
    </p>
    
    <ul>
      <li><%- link_to('Login with Google', '/auth/google') %></li>
      <li>[ Coming Soon ]</li>
    </ul>
  </div>
</div>